

// Search page
.view-id-mentor_projects,
.view-id-my_projects,
.view-id-projects {
  .view-content {
    display: flex;
    flex-flow: row wrap;
    margin: $site-padding * -1 $site-padding / -2;
    padding: $site-padding 0;
    > * {
      padding: $site-padding / 2;
      position: relative; // important for favorite link positioning
      &.spacer-item {
        padding: 0
      }
    }
  }
  &.view-display-id-page {
    .view-content > * {
      flex: 1 1 400px;
    }
  }
}

.view-id-mentor_projects {
  .view-content > * {
    flex: 1 1 400px;
  }
}

.project__contextual-links {
  position: absolute;
  display: block;
  z-index: 5;
  top: $site-padding;
  right: $site-padding * 0.75;
  padding: $site-padding / 2;
  border: 0;
  background: 0;
}

.contextual-links__dots {
  display: inline-block;
  height: 24px;
  width: 24px;
  font-size: $font-size + 4;
  position: relative;
  cursor: pointer;
  transform: rotate(90deg);
  i,
  svg {
    max-width: 100%;
    height: auto;
  }
}

.contextual-links__links {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  right: $site-padding / 2;
  padding: $site-padding / 2;
  background-color: white;
  border-radius: $border-radius--small;
  border: 1px solid $secondary;
  box-shadow: $box-shadow-tooltip;
  text-align: right;
  margin-top: $site-padding / 4;
  a {
    color: $text-color;
    text-decoration: none;
    padding: $site-padding / 4 $site-padding / 2;
    display: block;
    @include nt($prop: color);
    &:hover {
      color: $secondary;
    }
  }
}

.project--inactive {
  opacity: 0.6;
  .field--name-title {
    color: $text-color;
  }
  .project__internal-wrapper {
    &:after {
      background: url(../icons/ban.svg) center center no-repeat;
      background-size: 120px;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      z-index: 0;
      opacity: 0.1;
    }
  }
}

.project__contextual-links--invisible {
  position: relative;
  float: right;
  display: inline-block;
  margin: 0 0 0 $site-padding / 2;
  height: 24px;
  width: 24px;
  padding: 0;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}
.project__contextual-links {
  .contextual-links__links {
    height: 0;
    display: none;
  }
  &.contextual-links--open .contextual-links__links {
    opacity: 1;
    display: block;
    pointer-events: auto;
    height: auto;
  }
}

