.page-title {
  color: white;
  color: $text-over-primary-color;

  text-align: center;
  margin: 0;
  .page--restricted & {
    color: $text-over-secondary-color;
  }
}

.path-projects .region-hero {
  display: flex;
}

.hero__content {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: $content-width-with-paddings;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  padding: 0 $site-padding;
  @include breakpoint(mobile) {
    padding: 0 $site-padding;
  }
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.block-muser-hero-block {
  margin: $site-padding * 2 0;
  @include breakpoint(mobile) {
    margin: $site-padding * 2 0;
  }
}

.block-page-title-block {
  justify-self: center;
}

.cke_editable,
.field--name-body {
  details {
    border: 1px solid $primary;
    padding: 0 1rem;
    border-radius: $border-radius--small;
    margin: 1rem 0;
    background: transparent;
    &:focus-within {
      outline: 2px auto;
    }
  }
  summary {
    display: list-item;
    padding: 0.3rem 0;
    &:focus {
      outline: 0;
    }
  }

  img:not(.align-center):not(.align-left):not(.align-right) {
    max-width: 100%;
    height: auto;
  }
  .align-center, .align-left, .align-right {
    height: auto;
  }
  .align-center {
    max-width: 100%;
    margin: 0 auto $site-padding;
  }
  .align-left {
    max-width: 50%;
    margin: 0 $site-padding $site-padding 0;
    @include breakpoint(mobile) {
      margin: 0 0 $site-padding;
      max-width: 100%;
    }
  }
  .align-right {
    max-width: 50%;
    margin: 0 0 $site-padding $site-padding;
    @include breakpoint(mobile) {
      margin: 0 0 $site-padding;
      max-width: 100%;
    }
  }

  &.cke_editable {
    .align-left {
      max-width: 50%;
      margin: 0 $site-padding $site-padding 0;
    }
    .align-right {
      max-width: 50%;
      margin: 0 0 $site-padding $site-padding;
    }
  }
}

.node--unpublished {
  background-color: #fff4f4;
}
