select, input, textarea {
  color: $text-color;
}
.form-wrapper > summary,
.field__label {
  font-weight: 600;
}

.form-item {
  label {
    font-weight: 600;
  }
}

select,
//.form-item.textarea--simple,
.form-textarea-wrapper textarea,
.file-input__wrapper,
.form-managed-file .file,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="url"] {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: $form-vertical-padding $form-horizontal-padding;
  @include nt($prop: border-color);
  &:focus-within,
  &:focus,
  &:hover {
    border-color: transparent;
    //padding: $form-vertical-padding - 1 $form-horizontal-padding - 1;
    //border: 2px solid $primary;
    outline: 2px solid $primary;
  }
  outline: none;
  &:disabled {
    opacity: 0.5;
    background-color: $background-color;
    border: 1px solid #ddd;
    padding: $form-vertical-padding $form-horizontal-padding;
  }
}


fieldset {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: $form-vertical-padding $form-horizontal-padding;
}

input.form-autocomplete {
  &:focus,
  &:hover {
    background-position: calc(100% + 1px) center;
  }
}

input[type="date"],
input[type="time"] {
  width: auto;
}

.form-managed-file .file {
  padding-left: 20px + $form-horizontal-padding;
  background-position: $form-horizontal-padding center;
  width: auto;
  &:focus-within,
  &:focus,
  &:hover {
    background-position: $form-horizontal-padding - 1 center;
    padding-left: 20px + $form-horizontal-padding - 1px;
  }
}

.ui-widget.ui-widget-content.ui-autocomplete {
  padding: $site-padding / 4;
  border-radius: $border-radius;
  box-shadow: $box-shadow-tooltip;
  border: 2px solid $primary;
  margin-top: -2px;
  a {
    display: block;
    padding: $site-padding / 2;
    border-radius: $border-radius;
    border: 0;
  }
  .ui-menu-item:hover a,
  .ui-menu-item a:focus,
  .ui-menu-item:focus a,
  .ui-menu-item:focus a,
  .ui-menu-item a.ui-state-active {
    background-color: $background-color;
    border: 0;
    margin: 0;
    color: $text-color;
  }
}

.form-managed-file {
  .form-submit {
    margin: 0;
  }
}

.file-input__wrapper {
  display: inline-block;
  width: auto;
}

input[type="number"] {
  width: auto;
}

input[type="file"] {
  //width: 0.1px;
  //height: 0.1px;
  //opacity: 0;
  //overflow: hidden;
  //position: absolute;
  //z-index: -1;
}
.form-managed-file {
  //&:before {
  //  content: 'Attach file';
  //  @include button-outline;
  //  display: inline-block;
  //  color: $primary;
  //  padding-top: $site-padding / 4;
  //  padding-bottom: $site-padding / 4;
  //}
}

.form-textarea-wrapper {
  //overflow: hidden;
  padding: 0;
  margin: 0;
  textarea {
    border: 1px solid #ddd;
    padding: $form-vertical-padding $form-horizontal-padding $form-vertical-padding;
    //scrollbar-base-color: red;
  }

  //@at-root ::-webkit-scrollbar-track,
  //&::-webkit-scrollbar-track {
  //  background: none;
  //  box-shadow: none;
  //  -webkit-box-shadow: none;
  //  border: 0;
  //}
  ::-webkit-scrollbar,
  &::-webkit-scrollbar {
    background: none;
    box-shadow: none;
    //width: 10px;
    -webkit-box-shadow: none;
    border: 0;
  }
  ::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: $border-radius;
    border: 3px solid white;
    box-shadow: none;
    padding: 2px;
    //border: 0;
  }
  &:focus-within,
  &:focus,
  &:hover {
    padding: 0;
    //margin: -1px;
    textarea,
    .cke {
      //margin: -1px;
      //width: calc(100% + 2px);
    }
    textarea {
      padding: $form-vertical-padding $form-horizontal-padding $form-vertical-padding;
    }
  }
  textarea:focus {
    //outline: 0;
  }
}

.form-item.textarea--simple,
.form-item.form-type-url,
.form-item.form-type-email,
.form-item.form-type-date,
.form-item.form-type-textfield,
.form-item.form-type-tel,
.form-item.form-type-password {
  position: relative;
  label {
    &.form-required:after {
      margin-right: 0;
    }
    font-weight: normal;
    opacity: 0.85;
    position: absolute;
    padding: ($line-height - $label-size) / 2 2px;
    padding-right: 3px;
    line-height: $label-size;
    @include nt($prop: unquote('background-color, color, transform, line-height, font-size, opacity'));
    transform: translate($form-horizontal-padding + 1, $form-vertical-padding + 1 - 2); // + 1 for borders, - 2 for label paddings.
  }

  .captcha & label,
  &:not(.js-form-item) label,
  &.item-filled label {
    opacity: 1;
    background: linear-gradient(to bottom, transparent 0% ,transparent 30%, white 30%, white 70%, transparent 70%, transparent 100%);
    font-size: $active-label-size;
    transform: translate($form-horizontal-padding, $line-height / -2);
  }
}
.form-item.textarea--simple {
  padding-top: $form-vertical-padding;
}

.form-type-checkbox {

}

$checkbox-size: 20px;

.form-checkboxes .form-item {
  margin: $site-padding 0;
}
.checkbox__wrapper {
  position: relative;
  font-size: $checkbox-size;
  height: $checkbox-size;
  line-height: 1;
  display: inline-block;
  margin-right: $site-padding / 4;
  cursor: pointer;
  float: left;

  .checkbox__box,
  .checkbox__check {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
  }
  input {
    opacity: 0;
    $checkbox-padding: 3px;
    height: $checkbox-size + $checkbox-padding * 2;
    width: $checkbox-size + $checkbox-padding * 2;
    margin: -1 * $checkbox-padding;
    padding: $checkbox-padding;
  }
  .fa-layers i,
  .fa-layers svg {
    margin: 0;
  }
  .checkbox__box {
    @include nt($prop: color);
    color: $text-color;
  }
  .checkbox__check {
    opacity: 0;
    @include nt($prop: unquote('opacity, color'));
  }
  input:checked ~ .checkbox__check {
    opacity: 1;
  }
  input:checked:hover ~ .checkbox__check,
  input:checked:focus ~ .checkbox__check {
    opacity: 0.7;
  }
  input:not(:checked):hover ~ .checkbox__check,
  input:not(:checked):focus ~ .checkbox__check {
    opacity: 0.3;
  }

  //
  //input:checked:hover ~ .checkbox__box,
  //input:checked:focus ~ .checkbox__box,
  //input:not(:checked):hover ~ .checkbox__box,
  //input:not(:checked):focus ~ .checkbox__box {
  //  outline: 2px dashed $secondary;
  //  outline-offset: 2px;
  //}

  input:focus ~ .checkbox__check,
  .js-form-type-checkbox:hover & .checkbox__check,
  input:focus ~ .checkbox__box,
  .js-form-type-checkbox:hover & .checkbox__box {
    color: $primary
  }
  input:disabled {
    ~ .checkbox__check,
    ~ .checkbox__box {
      opacity: 0.5;
    }
    &:not(:checked) {
      ~ .checkbox__check {
        opacity: 0;
      }
    }
  }
  .form-disabled & ~ label {
    opacity: 0.5;
  }
}

.form-item.form-type-radio {
  margin: 0.2rem 0 0.5rem;
  display: flex;
  align-items: center;
  //&:after {
  //  display: table;
  //  clear: both;
  //  content: "";
  //}
}

$radio-size: 22px;

.radio__wrapper {
  //display: inline-block;
  position: relative;
  display: flex;
  //float: left;
  margin-right: $site-padding / 2;
  input {
    width: $radio-size;
    height: $radio-size;
    opacity: 0;
  }
  ~ label .description {
    margin-left: 0;
    font-size: $font-size - 2;
    font-weight: normal;
    p:last-child {
      margin-bottom: 0;
    }
  }
  ~ label .status-text {
    //display: inline-block;
    margin-top: 3px;
  }

  .form-disabled & ~ label {
    opacity: 0.5;
  }
}
.radio__button {
  position: absolute;
  pointer-events: none;
  left: -1px;
  top: 0;
  font-size: $radio-size;
  width: $radio-size;
  height: $radio-size;
}

.radio__filled-circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;
  bottom: 0;
  font-size: $radio-size;
  i,
  svg {
    font-size: $radio-size;
    position: absolute;
    top: 0;
    left: 0;
  }
  .radio__dot {
    position: absolute;
    top: 0;
    left: 0;
  }
}

input[type="radio"] {
  ~ .radio__button .radio__dot {
    @include nt($prop: unquote('opacity, color'));
    opacity: 0;
  }
  &:hover,
  &:focus {
    ~ .radio__button .radio__dot {
      opacity: 0.3;
    }
  }

  &:checked ~ .radio__button .radio__dot {
    opacity: 1;
  }
  &:checked:hover,
  &:checked:focus {
    ~ .radio__button .radio__dot {
      opacity: 0.9;
    }
  }

  &:focus {
    ~ .radio__button {
      color: $secondary;
    }
  }
  &:disabled {
    opacity: 0.5;
    ~ .radio__button .radio__dot {
      opacity: 0.5;
    }
  }
}
//
//input[type="radio"]:hover ~ .radio__button {
//input[type="radio"]:hover ~ .radio__button {
//  .radio__dot {
//    opacity: 0;
//  }
//}


//
//.checkbox__wrapper {
//  position: relative;
//}
//.form-type-checkbox {
//  position: relative;
//  input, label {
//    width: initial;
//    display: inline-block;
//  }
//  $checkbox-size: 20px;
//  input {
//    &:focus {
//      outline: auto;
//    }
//    opacity: 0;
//    width: $checkbox-size;
//    height: $checkbox-size + 2;
//    padding: $checkbox-size;
//    z-index: 10;
//    position: relative;
//  }
//  .checkbox--check {
//    width: $checkbox-size;
//    height: $checkbox-size;
//    display: block;
//    font-size: $checkbox-size - 2;
//    //color: $accent;
//    padding: 0.5px 2.5px;
//    position: absolute;
//    left: 1px;
//    top: 0;
//    opacity: 0;
//    pointer-events: none;
//    @include nt($prop: unquote('border-color, color, opacity'), $time: 0.15s);
//  }
//  label:before {
//    content: " ";
//    width: $checkbox-size;
//    height: $checkbox-size;
//    display: block;
//    position: absolute;
//    top: 0;
//    left: 0;
//    border: 2px solid $text-color;
//    @include nt($prop: border-color);
//  }
//
//  input:checked + .checkbox--check {
//    opacity: 1;
//  }
//
//  input:focus ~ label:before {
//    outline: auto;
//  }
//  //
//  //label:hover:after,
//  //input:hover ~ .checkbox--check,
//  //input:focus ~ .checkbox--check {
//  //  color: $secondary;
//  //}
//  //
//  //label:hover:before,
//  //input:hover ~ label:before,
//  //input:focus ~ label:before {
//  //  border-color: $secondary;
//  //}
//  //
//  //input:focus ~ label:before {
//  //  outline-color: $secondary;
//  //}
//
//  label {
//    position: absolute;
//    padding: 2px 20px 0 $checkbox-size + 20;
//    line-height: $checkbox-size + 2;
//    top: 0;
//    left: 0;
//    font-weight: bold;
//  }
//}
//
//.form-radios .form-item {
//  margin-bottom: 0.8em;
//  margin-top: 0.8em;
//}
//
//.form-type-radio {
//  margin: 0.5rem;
//  .description {
//    margin-left: 3em;
//  }
//  input[type="radio"] {
//    position: absolute;
//    opacity: 0;
//    + .option {
//      margin-left: 0;
//      &:before {
//        content: '';
//        background: $site-bg;
//        border-radius: 100%;
//        border: 2px solid darken($text-color, 15%);
//        display: inline-block;
//        width: 1.4em;
//        height: 1.4em;
//        position: relative;
//        top: -0.1em;
//        margin-right: 1em;
//        vertical-align: top;
//        cursor: pointer;
//        text-align: center;
//        transition: all 250ms ease;
//      }
//    }
//    &:checked {
//      + .option {
//        &:before {
//          background-color: $text-color;
//          box-shadow: inset 0 0 0 4px $light-bg;
//        }
//      }
//    }
//    &:hover,
//    &:focus {
//      + .option {
//        &:before {
//          border-color: $accent-replace;
//        }
//      }
//    }
//    &:disabled {
//      + .option {
//        cursor: not-allowed;
//        &:before {
//          box-shadow: inset 0 0 0 4px $mid-bg;
//          opacity: 0.8;
//          background: darken($mid-bg, 25%);
//          cursor: not-allowed;
//        }
//      }
//    }
//    + .option {
//      &:empty {
//        &:before {
//          margin-right: 0;
//        }
//      }
//    }
//  }
//}

input[type="submit"] {
  @include button;
  &:last-child {
    margin-bottom: 0;
    //margin-right: 0;
  }
  &:disabled {
    opacity: 0.5;
  }
}



.form-actions {
  &:last-child {
    margin-bottom: 0;
  }
  input:last-child {
    margin-right: 0;
  }
}

details.form-wrapper {
  border-radius: $border-radius--small;
  border: 1px solid #ddd;
  padding: $form-vertical-padding $form-horizontal-padding;
  background: transparent;
  @include nt($prop: border-color);
  &[open] {
    border: 2px solid $primary;
    padding: $form-vertical-padding - 1 $form-horizontal-padding - 1;
  }
  .vertical-tabs & {
    border: 0;
    &[open] {
      padding: $form-vertical-padding $form-horizontal-padding;
      border: 0;
    }
  }
}

.fieldset-legend {
  font-weight: bold;
}

.form-item-field-expectations-structure-0-value label {
  &:after {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0.3em;
    content: "";
    vertical-align: super;
    background-image: url(../../muser_sk/images/icons/required.svg);
    background-repeat: no-repeat;
    background-size: 6px 6px;
  }
}

.vertical-tabs,
.vertical-tabs__menu,
.vertical-tabs__menu-item {
  border-color: $primary;
  a {
    color: $text-color;
  }
}

.filter-guidelines-item .tips {
  margin-left: $site-padding * 2;
}
.form-composite.container-inline {
  div {
    display: block;
  }
  label:after {
    content: "";
  }
}

