.page-type--cards {
  .region-content {
    .block:not(.block-system-main-block) {
      @include card;
      margin: $site-padding 0 $site-padding / 2;
      padding: $site-padding;
    }
    .block.block-muser-public-projects-header-block {
      background: transparent;
      box-shadow: unset;
      border-radius: 0;
      padding: $site-padding / 2 $site-padding / 2 0;
    }
    .block-system-main-block:first-child {
      margin-top: $site-padding / 2;
    }
  }
}
.block-muser-public-projects-header-block {
  .message__icon + *,
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
