.round-info .future:not(.future ~ .future) {
  font-weight: bold;
}
.round-info li.past {
  color: #666;
}
.block-muser-round-countdown-block {
  display: none;
  position: relative;
  background: #fff;
  color: $text-color;
  border: 2px solid $primary;
  border-radius: $border-radius--small;
  padding: 0;
  max-width: 500px;
  z-index: 500000;
}
.show-countdown-disclaimer {
  position: absolute;
  right: 4px;
  top: 4px;
}

.round-countdown__action--collapse {
  border: 0;
  position: absolute;
  top: 3px;
  right: 3px;
  background: none;
  cursor: pointer;
}

.round-countdown__action--show-disclaimer {
  border: 0;
  background: none;
  padding: 4px 8px;
  cursor: pointer;
}

.round-countdown__disclaimer {
  padding: $site-padding - 4 $site-padding;
}
.round-countdown__action--expand {
  border: 0;
  background: none;
  padding: $site-padding - 4 $site-padding;
  cursor: pointer;


  i {
    line-height: 27.45px;
  }
  //padding: $site-padding / 2 - 4 $site-padding / 2;
}

.round-countdown__text {
  padding: $site-padding - 4 $site-padding;
}
