.node--type-round.node--view-mode-teaser {
  @include card;
  margin: $site-padding 0;
  padding: $site-padding;
  opacity: 1;
  h2 {
    margin-top: 0;
  }
  h2 a,
  .field--name-title {
    text-decoration: none;
  }
  .field--name-body {
    p:last-child {
      margin-bottom: 0;
    }
    p:first-child {
      margin-top: $site-padding / 2;
    }
  }
}

.node--type-round.node--view-mode-teaser.current-round {
  border: 2px solid $primary;
  padding: $site-padding - 2;
}

.node--type-round.node--view-mode-teaser.past {
  opacity: .7;
}
