.view-id-applications {
  .view-content {
    display: flex;
    flex-flow: row wrap;
    //margin: $site-padding / -2;
    margin: $site-padding * -1 $site-padding / -2;
    padding: $site-padding 0;
    > * {
      padding: $site-padding / 2;
      position: relative; // important for favorite link positioning
      width: 100%;
      &.spacer-item {
        padding: 0
      }
    }
  }
  &.view-display-id-page {
    .view-content > * {
      flex: 1 1 100%;
    }
  }
  .view-empty {
    @include card;
    padding: $site-padding;
    margin: $site-padding 0;
  }
  .view-filters form {
    @include card;
    padding: $site-padding;
    margin: $site-padding 0;
  }
  //.form-actions {
  //}

  [data-drupal-selector="edit-header"] .form-actions {
    margin: $site-padding / -2 0 $site-padding / 2;
    display: flex;
    flex-flow: row wrap;
    input[type="submit"],
    button {
      margin-top: $site-padding / 2;
      margin-bottom: $site-padding / 2;
    }
  }
  .applications-compact-switcher {
    display: block;
    margin-left: auto;
    button {
      @include button;
      color: $primary;
      background-color: $text-over-primary-color;
      border: 2px solid $primary;
      cursor: pointer;
      opacity: 1;
      @include nt($prop: unquote('background-color, color'));

      @at-root .view-id-applications.view--compact-applications .applications-compact-switcher button {
        &.applications-compact-switcher__compact {
          background-color: $primary;
          color: $text-over-primary-color;
        }
        &.applications-compact-switcher__full {
        }
      }
      @at-root .view-id-applications:not(.view--compact-applications) .applications-compact-switcher button {
        &.applications-compact-switcher__compact {
        }
        &.applications-compact-switcher__full {
          background-color: $primary;
          color: $text-over-primary-color;
        }
      }
      i, svg {
        margin-right: $site-padding / 2;
      }

      &:hover {
        background-color: #ddd;
        opacity: 1;
      }

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
      }
      margin: 0;
    }

  }

  .views-row {
    display: flex;
    margin-bottom: $site-padding;
    .form-item {
      margin: 0;
      $large-checkbox-size: 30px;

      .checkbox__box {
        font-size: $large-checkbox-size;
      }
      .checkbox__wrapper {
        font-size: $large-checkbox-size;
      }
      input {
        width: $large-checkbox-size + 6px;
        height: $large-checkbox-size + 6px;
      }
    }
    > article {
      flex-grow: 1;
    }
  }
}


.view-empty {
  @include card;
  padding: $site-padding;
  margin: $site-padding 0;
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.flagging--type-favorites {
  @include card;
  position: relative;
  h3 {
    font-weight: 600;
  }
  .details-bar {

  }
  .field__label {
    margin: 0 0 $site-padding / 2;
    clear: left;
  }
  .field--label-above {
    .field__label {
      margin-bottom: 0;
    }
    .field__item {
      p:first-child {
        margin-top: 0;
      }
    }
  }
}

.application__header {
  display: flex;
  flex-flow: row nowrap;
  //margin: $site-padding / -2;
  padding: $site-padding / 2;
  .field--name-field-status {
    margin-left: auto;
  }
  .application__project-title,
  .field--name-field-status,
  .contract-status,
  .application__contract-change,
  .application__status-change {
    padding: $site-padding / 2;
  }
  .field--name-field-status,
  .application__contract-change,
  .application__status-change {
    display: flex;
    align-items: flex-start;
  }
  .contract-status,
  .application-status {
    display: flex;
    align-items: center;
    margin: 2px 0;
    svg {
      font-size: $icon-size;
    }
    i {
      font-size: $icon-size - 6;
    }
  }

  .application-status__icon {
    height: 1rem;
  }

  .contract-status__label,
  .application-status__label {
    margin-left: $site-padding / 4;
    white-space: nowrap;
  }
  .contract-status__label {
    transform: translateY(1px);
  }
  .contract-status__icon {
    i,
    svg {
      opacity: 0.9;
      transform: translateY(2px);
    }
  }
  .contract-status__label {
    font-size: 0.9rem;
    opacity: 0.9;
  }

  a {
    white-space: nowrap;
    text-decoration: none;
    color: $primary;
    font-weight: 600;
    border: 2px solid $primary;
    border-radius: $border-radius * 2;
    font-size: $font-size - 2;
    line-height: 1.4;
    display: inline-block;
    padding: $site-padding / 4 $site-padding / 2;
  }
}

.application__body {
  padding: 0 $site-padding;
  display: block;
  //.view--compact-applications & {
  //  display: none;
  //}
  //.view--compact-applications .application--open & {
  //  display: block;
  //}
}

.application__compact-body {
  padding: 0 $site-padding;
  margin-top: $site-padding / -2;
  margin-bottom: $site-padding;
  display: none;
  .view--compact-applications & {
    display: block;
  }
  .view--compact-applications .application--open & {
    display: none;
  }
}

.muser-project-accept-contract {
  margin-top: $site-padding;
  .field {
    .label {
      float: left;
      margin-right: $site-padding / 2;
      &:after {
        content: ":";
      }
    }
    margin-bottom: $site-padding / 2;
  }
  .field__agreement-text {
    .label {
      float: none;
    }
    p:first-child {
      margin-top: 0.5rem;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .form-radios {
    display: flex;
    flex-flow: row wrap;
    margin: 0 $site-padding / -2;
    > .form-item {
      padding: $site-padding / 2 $site-padding / 2;
    }
  }
  .form-item {
    margin: 0;
  }
}

.toggle-application {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: $site-padding * 3 / 4 $site-padding;
  font-size: $icon-size;
  line-height: 1;
  z-index: 4;
  color: $text-color;
  background-color: transparent;
  border: 0;

  //.view--compact-applications & {
  //  display: none;
  //}
}

.application__compact-body {
  margin-right: $icon-size + $site-padding;
}

.applicant-info-compact {
  margin-bottom: $site-padding;
  min-height: $line-height;
  article {
    display: flex;
    flex-flow: row wrap;
  }
  .field {
    display: flex;
    flex-flow: row wrap;
    margin-right: $site-padding;
  }
  .field__label {
    margin: 0;
  }
}

.application__details-bar {
  padding: $site-padding;
  margin: 0;
  .flagging--type-favorites & {
    justify-content: center;
    margin: 0;
  }
  .view--compact-applications & {
    display: none;
  }
  .view--compact-applications .application--open & {
    display: flex;
  }
}

.field--label-inline {
  clear: both;
}

.flagging--type-favorites {

  .application__body {
    position: relative;
    overflow: hidden;
    @include nt($prop: max-height);
    @at-root .flagging--type-favorites.application--closed .application__body[style] {
      max-height: 100px !important;
      .view--compact-applications & {
        max-height: 0px !important;
      }
    }
    &:after {
      content: '';
      @include nt($prop: opacity);
      position: absolute;
      display: block;
      width: 100%;
      height: 80px;
      background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
      opacity: 1;
      left: 0;
      bottom: 0;
      pointer-events: none;
    }
  }
  .application__essay-wrapper,
  .field--name-field-essay {
    margin: 0 0 $site-padding;
  }
  &.application--open {
    .application__body {
      height: auto;
      max-height: none;
      &:after {
        opacity: 0;
      }
    }
  }

  .application__body fieldset.form-item {
    margin-bottom: $site-padding;
  }

}

.application__essay-wrapper {
  .messages__wrapper {
    margin-top: 0;
    margin-bottom: $site-padding;
  }
}

.view-id-applications .view-filters form {
  margin-bottom: 0;
  &.views-exposed-form {
    .form--inline {
      margin: $site-padding / -4;
      @include breakpoint(mobile) {
        margin: $site-padding / -4;
      }
      .form-actions {
        a, button, input {
          @include small-button;
          background-color: $primary;
          color: white;
          color: $text-over-primary-color;
        }
      }
      details {
        //background-color: white;
        //color: white;
        .checkbox__wrapper,
        .checkbox__wrapper ~ label {
          //color: white;
          //@include nt($prop: color);
        }
        .checkbox__wrapper.checked,
        .checkbox__wrapper.checked ~ label {
          //color: $secondary;
        }

        input:checked ~ .checkbox__check,
        input:focus ~ .checkbox__check,
        .js-form-type-checkbox:hover .checkbox__wrapper .checkbox__check,
        input:checked ~ .checkbox__box,
        input:focus ~ .checkbox__box,
        .js-form-type-checkbox:hover .checkbox__wrapper .checkbox__box {
          color: $secondary
        }
      }
      summary {
        color: white;
        color: $text-over-primary-color;
        background-color: $primary;
        &.summary--has-selected {
          background-color: $secondary;
          color: white;
          color: $text-over-secondary-color;
        }
      }
      //details[open] summary {
      //  background-color: $secondary;
      //  color: white;
      //}

      .details-wrapper {
        // dropdown
        position: absolute;
        top: 100%;
        min-width: 240px;
        border-radius: $border-radius--small;
        border: 1px solid $secondary;
        background-color: white;
        padding: $site-padding;
        //box-shadow: 0 0 1px 10000px rgba(0,0,0,0.4);
        .filter__actions {
          padding: $site-padding 0 0;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
        }
        .filter__action {
          background-color: transparent;
          border: 0;
          padding: $filter-padding;
          margin: -1 * $filter-padding;
          font-weight: 600;
        }
        .filter__action--submit {
          margin-left: auto;
        }
      }
    }
    .form-item-search input {
      border: 1px solid #ddd;
      &:focus {
        border: 2px solid $primary;
      }
    }
  }
}

.download-by-project {
  border: 0;
  background: 0;
  text-decoration: underline;
  color: $primary-text-over-white;
  cursor: pointer;
}
