.button--standard,
.button--primary {
  @include button;
}

.button--primary-inside {
  a {
    @include button;
  }
}

.button--secondary {
  @include button;
  background-color: $secondary;
  color: $text-over-secondary-color;
}

.button--outline {
  @include button-outline;
}

.button--secondary-inside {
  a {
    @include button;
    background-color: $secondary;
    color: $text-over-secondary-color;
  }
}

.button--small {
  @include small-button;
  display: inline-block;
  margin: 0;
}
