
.floating-area {
  position: fixed;
  right: 8px;
  bottom: 8px;
  padding-left: 8px;
  z-index: 8;
}

.region-floating {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 8px;
}
