.node-preview-container {
  z-index: 10000;
  top: $site-padding / 2;
  right: $site-padding / 2;
  max-width: 100%;
  width: 270px;
  @include card;
  position: fixed;

  .node-preview-backlink {
    @include button;
    color: white;
    color: $text-over-secondary-color;
    background-color: $secondary;
    display: inline-block;
  }

  form {
    display: flex;
    flex-flow: column-reverse nowrap;
  }
  .form-type-select {
    margin: 0 0 $site-padding;
  }
  body.toolbar-horizontal & {
    top: 39px + $site-padding / 2;
  }
  body.toolbar-horizontal.toolbar-tray-open & {
    top: 79px + $site-padding / 2;
  }
  body.toolbar-vertical & {
    top: 39px + $site-padding / 2;
  }
}

.node-preview {
  &.node-preview--teaser.page-node-type-project {
    .content--sheet {
      background-color: transparent;
      margin: 0;
      box-shadow: none;
    }
    .block-system-main-block {
      position: relative;
      max-width: 450px;
      margin: 0 auto;
    }
    .favorite-button__abs-wrapper .project__favorite--button {
      position: absolute;
      top: $site-padding / 2;
      right: $site-padding / 2;
      padding: $site-padding / 2;
    }

    .project__contextual-links {
      top: $site-padding / 2;
      right: 0;
      padding: $site-padding / 2;
      pointer-events: none;
      opacity: 0.5;
    }
    .node--type-project.use-ajax {
      pointer-events: none;
      .details-bar {
        pointer-events: auto;
      }
    }
  }

  .project__favorite--button {
    pointer-events: none;
    opacity: 0.5;
  }

  .node--type-project.node--view-mode-myprojects-teaser,
  .node--type-project.node--view-mode-teaser {
    position: relative;
    margin: 0 $site-padding / -2;
  }
}


