.block-muser-related-projects-placeholder-block {
  z-index: 500001;
  position: relative;
}

.related-projects {
  display: none;
  //z-index: 500001;

  &.related-projects--has-projects {
    display: block;

    @include card;
    @include card-shadow;
    background-color: $background-color;
    border-top: 2px solid $primary;
    border-radius: 0;

    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;


    &.related-projects--minimized {
      border: 2px solid $primary;
      border-radius: $border-radius--small;

      background-color: white;
      position: static;
      width: 100%;
      .related-projects__title-section {
        @include nt($prop: background-color);
      }

      &.related-projects--flash {
        .related-projects__title-section {

          overflow: hidden;
          animation: relatedProjectsFlash infinite forwards 1s;
          &:after {
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            content: '';
            display: block;
            animation: relatedProjectsFlashPseudo infinite forwards 1s;
            background-color: $primary;
          }
        }
      }
      #related-projects {
        display: none;
      }
    }
  }
}

@keyframes relatedProjectsFlash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes relatedProjectsFlashPseudo {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
#related-projects {
  padding: 8px;
}

h2.related-projects__title {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  margin: 0;
  .related-projects--minimized & {
    font-size: 1rem;
    font-weight: normal;
  }
}

.related-projects__title-section {
  display: flex;
  flex-flow: row nowrap;
  padding: $site-padding $site-padding;
  position: relative;
  .related-projects--minimized & {
    cursor: pointer;
    padding: $site-padding - 1 $site-padding / 3 * 2 $site-padding - 1 $site-padding;
  }
}

.related-projects__title-text-plural {
  display: none;
}
.related-projects__title-text-singular {
  display: block;
}
.related-projects__title--is-plural {
  .related-projects__title-text-singular {
    display: none;
  }
  .related-projects__title-text-plural {
    display: block;
  }
}

.related-projects__project-count {
  margin-right: 0.33rem;
}

.related-projects__minimize {
  cursor: pointer;
  border: 0;
  width: 35px;
  background-color: transparent;
  margin-left: auto;
  padding-left: 0.5rem;
  padding-right: 0;
  .related-projects--minimized & {
    i {
      transform: scaleY(-1) translateY(3px);
    }
  }
}

.related-projects__autoclose-timer {
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  background-color: $background-color;
  @include nt($prop: opacity);
}

.related-projects__autoclose-timer--timer-active {
  opacity: 1;
  .related-projects__autoclose-timer-bar {
    @include nt($prop: max-width, $time: 0.1s, $anim: linear);
  }
}

.related-projects__autoclose-timer-bar {
  height: 100%;
  background-color: $primary;
  left: 0;
  top: 0;
  max-width: 0%;
  position: absolute;
  width: 100%;
}

.related-projects__reason {
  padding: 0 $site-padding $site-padding;
  .related-projects--minimized & {
    display: none;
  }
}

.related-projects .related-projects__content {
  &.no-results {
    padding: 0 $site-padding / 2 $site-padding;
  }

  .view-content {
    overflow-x: scroll;
    flex-flow: row nowrap;
    width: auto;
    justify-content: flex-start;
    padding-top: 0;
    //z-index: 7;
    > div {
      z-index: 7;
      position: relative;
      min-width: min(450px, calc(100vw - #{$site-padding * 2}));
      max-width: 470px;
    }
  }
}
