.block-local-tasks-block {

}

ul.tabs {
  @include fade-in;
  display: flex;
  flex-flow: row wrap;
  margin: -1 * $filter-padding;
  padding: 0;
  padding-bottom: $site-padding / 2;
  @include breakpoint(mobile) {
    padding-left: $site-padding / 2;
    padding-right: $site-padding / 2;
  }
  @at-root .page-type--sheet & {
    //padding-bottom: $site-padding / 2 + $sheet-overlap;
  }
  li {
    margin: 0;
    padding: 0;
  }
  a {
    @include small-button;
    padding: $site-padding / 2 - 2px $site-padding - 2px;
    background-color: $secondary;
    color: white;
    color: $text-over-secondary-color;
    opacity: 1;
    border: 2px solid $secondary;
    @include nt($prop: unquote('opacity, border-color'));
    @at-root .page--restricted & {
      background-color: $primary;
      color: $text-over-primary-color;
      border: 2px solid $secondary;
    }
    &:focus,
    &:hover {
      background-color: $secondary;
      color: $text-over-secondary-color;
      opacity: 1;
      border: 2px solid $text-over-secondary-color;
      @at-root .page--restricted & {
        background-color: $primary;
        color: $text-over-primary-color;
        border: 2px solid $text-over-primary-color;
      }
    }
    &.is-active {
      background-color: $secondary;
      color: $text-over-secondary-color;
      opacity: 1;
      border: 2px solid $text-over-secondary-color;
      @at-root .page--restricted & {
        background-color: $primary;
        color: $text-over-primary-color;
        border: 2px solid $text-over-primary-color;
      }
    }
  }
}
