.change-user-type {
  display: flex;
  font-size: $font-size + 8px;
  input {
    margin: 0 0 0 auto;
    font-size: $font-size - 2;
    background-color: $background-color;
    color: #4f4f4f;
    padding: $site-padding / 4 $site-padding;
    font-weight: 400;
  }
  #edit-change-use-type-after {
    display: none;
  }
  &.change-user-type--changed-once {
    #edit-change-use-type-after {
      display: block;
    }
    #edit-change-use-type {
      display: none;
    }
  }
}

.field--name-field-user-type .placeholder {
  font-weight: 600;
  font-style: normal;
  color: $secondary-text-over-white;
}

#edit-field-user-type--wrapper {
  //display: none;
  @include sr-only;
}

.user-type-changer__label {
  //@include button;
  //padding: 12px 48px;
  font-size: $font-size * 2;
  font-weight: bold;
}

.user-type-changer__description {
  color: white;
  color: $text-over-primary-color;
  .page--restricted & {
    color: $text-over-secondary-color;
  }

  //margin: 1em 1em;
  padding: 0;
  //.user-type-changer__type:last-child & {
  //  border-left: 1px solid $primary;
  //}
}

.user-type-changer__type {
  border: 1px solid $primary;
  border-radius: $border-radius;
  padding: 1.5em 1em;
  margin: 0 1em;
  background: 0;
  position: relative;
  overflow: hidden;
  > * {
    z-index: 1;
    position: relative;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    opacity: 0;
    @include nt($prop: opacity);
  }
  &:hover, &:focus {
    &:after {
      opacity: 0.10;
    }
  }
  color: $text-over-primary-color;
  .page--restricted & {
    color: $text-over-secondary-color;
  }
}

.main__hero--user-type {
  min-height: 340px;
}

.user-type-changer {
  display: flex;
  flex-flow: row wrap;
}

.user-type-changer__type {
  flex: 1 1 300px;
  text-align: center;
  max-width: 400px;
  align-items: center;
  flex-flow: column;
  display: flex;
  justify-content: flex-start;
}

.region-hero--new {
  .page-title {
    margin-bottom: 20px;
  }
}

.region-hero--new {
  display: none;
  //padding-bottom: $sheet-overlap;
}

.main__hero--onboarding-active {
  .region-hero--original {
    display: none;
  }
  .region-hero--new {
    display: block;
  }

  .region-hero-options {
    opacity: 0;
    height: 0;
    pointer-events: none;
  }
}


.user-form {
  min-height: 300px;
}
