html {
  font-family: $sans-serif;
  color: $text-color;
  font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
  color: $title-color;
  font-weight: 600;
}

h1 {
  font-size: 2em;
  margin: 0.33em 0 0.67em;
}

h2 {
  font-size: 1.5em;
  margin: 0.33em 0 0.67em;
}

h3 {
  font-size: 1.17em;
  margin: 0.33em 0 0.67em;
}

h4 {
  font-size: 1em;
  margin: 0.33em 0 0.67em;
}

.cke_editable,
textarea,
.content,
.field--name-body,
.field--type-text-with-summary,
.essay,
.field-body {
  line-height: $line-height;
}

a {
  color: $primary-text-over-white;
}

p.large-text {
  font-size: $font-size * 1.25;
}
