/**
 * Toolbar icon.
 */
.toolbar-icon-muser-system-admin-dashboard:before {
  background-image: url(/profiles/muser/themes/muser_base/images/icons/660000/barchart.svg);
}
.toolbar-icon-muser-system-admin-dashboard:active:before,
.toolbar-icon-muser-system-admin-dashboard.is-active:before {
  background-image: url(/profiles/muser/themes/muser_base/images/icons/c80014/barchart.svg);
}
