.muser-chart-label {
  margin: 16px 0 8px 0;
  font-size: 20px;
  font-weight: bold;
}
.muser-chart-description {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.muser-chart-updating {
  display: none;
  background-image: url(/core/misc/icons/spinner.gif);
  background-repeat: no-repeat;
  background-position: 0 center;
  width: 40px;
  height: 20px;
}

.muser-chart-wrapper .muser-chart-message {
  margin-top: 16px;
  padding: 8px 12px;
  border: 2px solid var(--text-color);
  border-radius: 3px;
}

.muser-chart-wrapper .muser-chart-messages .muser-chart-message-loading {
   background-image: url('/core/misc/icons/spinner.gif');
   background-repeat: no-repeat;
   background-position: 0 center;
   padding-left: 40px;
   display: block;
 }
.muser-chart-wrapper .muser-chart-messages .muser-chart-message-no-data {
  display: none;
  border: 2px solid var(--warning-message-color);
}
.muser-chart-wrapper .muser-chart-messages .muser-chart-message-error {
  display: none;
  color: var(--message-text-color-error);
  border: 2px solid var(--error-message-color);
}
.muser-chart-error {
  margin-top: 16px;
  padding: 8px 12px;
  font-weight: bold;
  color: var(--message-text-color-error);
  background-color: var(--error-message-color);
  border-radius: 3px;
}

.muser-chart__by-day .muser-chart {
  height: 350px;
}
.muser-chart__mentor-actions-by-day .muser-chart {
  height: 370px;
}
.muser-chart-demo-container {
  padding-bottom: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--text-color);
  :last-child {
    border-bottom: 0;
  }
}

.muser-chart__mentor-actions-by-round-uuid,
.muser-chart__mentor-actions-by-round {
  g:first-child > text {
    font-weight: bold;
    letter-spacing: -0.35px;
  }
}