.dashboard-section {
  margin-bottom: 32px;
}
.dashboard-section__current-round {
  padding: 14px 16px;
  background-color: #f3f4f9;
  border: 2px solid var(--primary);
  border-radius: 5px;
  h3 {
    margin-top: 0;
  }
}

.dashboard-section__current-round-info {
  font-weight: bold;
  font-size: 18px;
}

.dashboard-section__per-round-data__stats {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}


.dashboard-stat-item {
  flex: 1 1 200px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 14px 16px;
  h4 {
    margin-top: 0;
  }
}

.dashboard-stat {
  transition: all 1s ease;
  font-weight: bold;
}
.dashboard-stat.changing {
  background-color: #fff3a5;
}



.dashboard-section__current-round-scheduled_emails h3 {
  font-size: 18px;
  margin-top: 15px;
}
.dashboard-section__current-round-scheduled_emails h3 a {
  font-size: 16px;
  font-weight: normal;
}
.dashboard-section__current-round-upcoming_emails {
  margin-top: 5px;
}
button.scheduled-emails-toggle {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  padding-left: 0;
}
.scheduled-emails-toggle.item-list li {
  margin-left: 0;
  list-style: none;
}
.scheduled-emails-toggle.item-list li:not(:last-child) {
  margin-bottom: 4px;
}
.scheduled-emails-toggle.item-list li.email-status--sent {
  font-style: italic;
}
.scheduled-emails-toggle.item-list li.email-status--future {
}
.scheduled-emails-toggle.item-list li.email-status--error {
  font-style: italic;
  font-weight: bold;
  color: #ff0000;
}
.scheduled-emails-toggle.item-list li.email-status--soon {
  font-weight: bold;
}
