.paragraph--view-mode--preview {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;

}


.paragraph--view-mode--preview img {
    display: block;
}

.color-swatch {
    background-color: #666;
    color: white;
    height: 60px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.color-swatch--status {
    background-color: var(--status-message-color);
    color: var(--message-text-color-status);
}

.color-swatch--warning {
    background-color: var(--warning-message-color);
    color: var(--message-text-color-warning);
}

.color-swatch--error {
    background-color: var(--error-message-color);
    color: var(--message-text-color-error);
}

.color-swatch--primary {
    background-color: var(--primary);
    color: var(--text-over-primary-color);
}

.color-swatch--secondary {
    background-color: var(--secondary);
    color: var(--text-over-secondary-color);
}

.color-swatch--background {
    background-color: white;
    border: 1px solid black;
    color: var(--text-color);
}

.field--name-field-carousel-slides .field--name-field-roles .field__items {
  display: flex;
}
.field--name-field-carousel-slides .field--name-field-roles .field__item {
  display: inline;
}
.field--name-field-carousel-slides .field--name-field-roles .field__item:not(:last-child):after {
  content: ", ";
  padding-right: 0.2em;
}
