.view-id-student_information {
  .views-exposed-form {
    margin: 1rem 0;
  }
  .form-actions {
    padding: 0.8rem 0 0;
  }
  .form-item {
    margin: 0 0.5em 0.2rem 0;
  }
  .form-type-select {
    label {
      display: block;
      margin-bottom: 2px;
    }
  }
  thead {
    border-bottom: 2px solid var(--primary);
  }
  td, th {
    padding: 0.3em 0.4em;
  }
  th {
    position: relative;
    &.is-active {
      padding-right: 1.5em;
    }
  }
  .tablesort {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(2px);
  }
  tr {
    &:nth-child(even) {
      background: rgba(0,0,0,0.05)
    }
  }
}