<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1.0" />
  <title>Site Maintenance | Muser</title>
  <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" />
  <style type="text/css">
    body{ margin: 10px; padding: 10px; font-family: "Open Sans",sans-serif; color: #262626; font-size: 16px;; }
    img{ border: 0; display: block; padding-bottom: 20px; width: 200px;}
  </style>
</head>
<body id="maintenance-body" class="obre-system-maintenance">
  <div>
    <img src="/profiles/muser/themes/muser_base/logo.svg" alt="Muser">
  </div>
  <h1>One Moment Please!</h1>
  <p>
    The site is temporarily under scheduled maintenance.<br>
    Please check back again later!
  </p>
</body>
</html>
