<div {{ wrapper_attributes.addClass('muser-chart-wrapper') }}>
  {% if label %}
    <div class="muser-chart-label">{{ label }}<div class="muser-chart-updating"></div></div>
  {% endif %}
  {% if description %}
    <div class="muser-chart-description">{{ description }}</div>
  {% endif %}
  <div id="{{ messages_id }}" class="muser-chart-messages">
    <div class="muser-chart-message muser-chart-message-loading">{{ loading_message }}</div>
    <div class="muser-chart-message muser-chart-message-no-data" style="display:none;">{{ no_data_message }}</div>
    <div class="muser-chart-message muser-chart-message-error" style="display:none;">{{ error_message }}</div>
  </div>
  <div {{ chart_attributes.addClass('muser-chart') }}></div>
</div>
