<div class="dashboard-stat-item">
    <h4>Unique users</h4>
    <div class="dashboard-stat-data">
        <div><span class="dashboard-stat-label">Students:</span> <span id="dashboard--active_users__students" class="dashboard-stat">…</span></div>
        <div><span class="dashboard-stat-label">Mentors:</span> <span id="dashboard--active_users__mentors" class="dashboard-stat">…</span></div>
    </div>
</div>
<div class="dashboard-stat-item">
    <h4>Projects</h4>
    <div class="dashboard-stat-data">
        <div><span class="dashboard-stat-label">Total projects:</span> <span id="dashboard--projects" class="dashboard-stat">…</span></div>
    </div>
</div>
<div class="dashboard-stat-item">
    <h4>Student actions</h4>
    <div class="dashboard-stat-data">
        <div><span class="dashboard-stat-label">Projects favorited:</span> <span id="dashboard--applications__favorited" class="dashboard-stat">…</span></div>
        <div><span class="dashboard-stat-label">Applications submitted:</span> <span id="dashboard--applications__submitted" class="dashboard-stat">…</span></div>
    </div>
</div>
<div class="dashboard-stat-item">
    <h4>Applications</h4>
    <div class="dashboard-stat-data">
        <div><span class="dashboard-stat-label">Reviewed:</span> <span id="dashboard--applications__reviewed" class="dashboard-stat">…</span></div>
        <div><span class="dashboard-stat-label">Decisions made:</span> <span id="dashboard--applications__decided" class="dashboard-stat">…</span></div>
    </div>
</div>
