@import "common/global";
@import "common/variables";
@import "common/breakpoints";
@import "common/mixins";
@import "common/typography";

$slide-height: 400px;

$next-prev-arrow-size: 25px;
$carousel-width: $content-width + $site-padding * 2;

.field--name-field-carousel-slides:not(.slick-initialized) {
  .field-item--paragraph--type-video-slide,
  .field-item--paragraph--type-image-slide,
  .field-item--paragraph--type-color-slide {
    &:not(:first-child) {
      display: none;
    }
  }
}

.field--name-field-carousel-slides {
  width: $carousel-width;
  max-width: calc(100vw - #{$site-padding});
  margin: $site-padding * 2 auto $site-padding * 3;
  //overflow: hidden;

  .slick-list {
    height: $slide-height;
    position: relative;
  }
  .slick-dots {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: absolute;
    top: 100%;
    width: 100%;
    //> li:only-child {
    //  display: none;
    //}
    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    button {
      padding: $site-padding * 1.5;
      background-color: transparent;
      border: 0;
      position: relative;
      text-indent: -5000em;

      width: 10px;
      height: 10px;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        display: block;

        background: $primary;
        @include nt($prop: background-color);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        border: 2px solid white;
      }
    }
    .slick-active {
      button:before {
        background: white;
      }
    }
  }
}

.paragraph--type--color-slide,
.paragraph--type--image-slide,
.paragraph--type--video-slide {
  padding: 2px;
  background-color: white;
  height: $slide-height;
  border-radius: $border-radius--small;
}


.slide__content {
  height: 100%;
  border-radius: $border-radius--small;
  padding: $site-padding;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  justify-content: flex-end;

  .color-slide--text-alignment-bottom & {
    justify-content: flex-end;
  }
  .color-slide--text-alignment-center & {
    justify-content: center;
  }
  .color-slide--text-alignment-top & {
    justify-content: flex-start;
  }

  a, p, h1, h2, h3, h4, h5, h6, span {
    color: white;
  }
  &.slide__content--link {
    text-decoration: none;
  }
  .paragraph--color-primary & {
    background-color: $primary;
    color: $text-over-primary-color;
    a, p, h1, h2, h3, h4, h5, h6, span {
      color: $text-over-primary-color;
    }
  }
  .paragraph--color-secondary & {
    background-color: $secondary;
    color: $text-over-secondary-color;
    a, p, h1, h2, h3, h4, h5, h6, span {
      color: $text-over-secondary-color;
    }
  }
  .paragraph--color-background & {
    background-color: white;
    color: $text-color;
    a, p, h1, h2, h3, h4, h5, h6, span {
      color: $text-color;
    }
  }
  .paragraph--color-status & {
    background-color: $status-color;
    color: $message-text-color-status;
    a, p, h1, h2, h3, h4, h5, h6, span {
      color: $message-text-color-status;
    }
  }
  .paragraph--color-warning & {
    background-color: $warning-color;
    color: $message-text-color-warning;
    a, p, h1, h2, h3, h4, h5, h6, span {
      color: $message-text-color-warning;
    }
  }
  .paragraph--color-error & {
    background-color: $error-color;
    color: $message-text-color-error;
    a, p, h1, h2, h3, h4, h5, h6, span {
      color: $message-text-color-error;
    }
  }

  .field--name-field-media-oembed-video img,
  .field--name-field-media-image img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }


  .field--name-field-hosted-video {
    cursor: pointer;
    &:hover {
      &:before {
        opacity: 0.7;
      }
    }
    &:before {
      opacity: 0.95;
      @include nt($prop: opacity);
      z-index: 3;
      content: "";
      display: block;
      background: url("../icons/play.svg") center;
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      pointer-events: none;
    }
  }

  .paragraph--has-text & {
    &:after {
      content: "";
      position: absolute;
      display: block;
      background-color: rgba(0,0,0,0.54);
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 4;
      pointer-events: none;
    }
  }

  .field--name-field-text {
    position: relative;
    z-index: 5;
    pointer-events: none;
  }

  &.slide__content--nolink {
    .field--name-field-text {
      pointer-events: initial;
    }
  }
}

.slick-arrow {
  border: 0;
  background: 0;

  padding: $site-padding $site-padding / 2;
  position: absolute;
  top: 50%;
  height: 100%;
  color: white;
  font-size: 40px;
  z-index: 6;
  &.slick-prev {
    left: 0;
    @media screen and (max-width: ($carousel-width + $next-prev-arrow-size * 2)) {
      left: $next-prev-arrow-size;
    }
    transform: translate(-100%, -50%);
  }
  &.slick-next {
    right: 0;
    @media screen and (max-width: ($carousel-width + $next-prev-arrow-size * 2)) {
      right: $next-prev-arrow-size;
    }
    transform: translate(100%, -50%);
  }
}
